:root{
  --primary:#00d15b;
  --primary-dark:#00a84d;

  --text-main:#191f28;
  --text-sub:#8b95a1;

  --glass-bg:rgba(255,255,255,0.65);
  --glass-border:rgba(255,255,255,0.4);
  --shadow-soft:0 10px 40px rgba(0,0,0,0.03);
  --shadow-hover:0 20px 50px rgba(0,0,0,0.08);

  --radius-lg:28px;
  --radius-md:20px;
  --radius-sm:12px;
}
